<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the
    <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>

  <div class="m-bottom">Botones primarios</div>
  <app-button type="primary-gray" label="Atrás" class="m-right"></app-button>
  <app-button type="primary-red" label="Eliminar" class="m-right"></app-button>
  <app-button type="primary-yellow" label="Transferir" class="m-right"></app-button>
  <app-button type="secondary" label="Cancelar" class="m-right"></app-button>
  <app-button type="flat" label="Aceptar" class="m-right"></app-button>

  <div class="m-top m-bottom">Notificaciones</div>
  <app-notification type="error" icon="far fa-times-circle" message="Error"></app-notification>
  <app-notification type="info" icon="fas fa-info-circle" message="Info"></app-notification>
  <app-notification type="success" icon="far fa-check-circle" message="Success"></app-notification>
  <app-notification type="warning" icon="fas fa-exclamation-triangle" message="Warning"></app-notification>
  
</ion-content>